<%- include('header') %>
    <div class="d-flex justify-content-center">
        <img style="width: 450px;" src="/images/5631827.jpg" alt="order placed">

    </div>
   <div class="container d-flex justify-content-center">
    <div class="row col-md-4 text-center" style="padding: 20px;">
        <div class="col"><a class="aftercheckout-page-link" href="/userhome">Go to home</a></div>
        <div class="col">
            <a class="aftercheckout-page-link" href="/orders">View order details</a>

        </div>
    </div>
   </div>

    <%- include ('footer') %>