<div class="category-list-partials col-md-2" style="padding: 30px;">
    <h4 style="border-bottom: 1px solid;">Categories</h4>

    <ul>
        <li style="border-bottom: 1px solid rgb(217, 217, 217);"><a href="/products"> All Products</a></li>
        <% categories.forEach(category=> { %>
            <li style="padding-left: 0px; border-bottom: 1px solid rgb(217, 217, 217);"><a 
                    href="/category/<%= category._id %>">
                    <%= category.categoryName %>
                </a>
            </li> 

            <% }); %>
    </ul>

    <br>
    
    <div>
        <h4 style="border-bottom: 1px solid;">Filter</h4>
        <ul>
            <li style="border-bottom: 1px solid rgb(217, 217, 217);"><a href="/products/filter?filter=price&min=1000&max=10000">1000-10000</a></li>
            <li style="border-bottom: 1px solid rgb(217, 217, 217);"><a href="/products/filter?filter=price&min=10000&max=25000">10000-25000</a></li>
            <li style="border-bottom: 1px solid rgb(217, 217, 217);"><a href="/products/filter?filter=price&min=25000&max=50000">25000-50000</a></li>
            <li style="border-bottom: 1px solid rgb(217, 217, 217);"><a href="/products/filter?filter=price&min=50000&max=100000">50000-100000</a></li>
            <li><a href="/products/filter?filter=price&above=100000">100000-above</a></li>
        </ul>
        

    </div>
    
</div>


