<div class="profile-partials col-md-2">
    <div class="list-group" style="padding: 20px 0 20px 5px">
        <a href="/profile" class="list-group-item list-group-item-action">
            User Profile
        </a>

        <a href="/orders" class="list-group-item list-group-item-action">
            Orders
        </a>
        <a href="/wishlist" class="list-group-item list-group-item-action">
            Wishlist
        </a>
        <a href="/cart" class="list-group-item list-group-item-action">
            Cart
        </a>
        <a href="/wallet" class="list-group-item list-group-item-action">
            Wallet trans.
        </a>
        
        
        <form action="/logout" method="post" id="logoutForm">
            <button type="submit" class="btn btn-danger" style="margin-top: 10px;">Logout</button>
        </form>
        
       
        
        
    </div>
</div>
