<!DOCTYPE html>
<!-- Website - www.codingnepalweb.com -->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8" />
    <title>GoShoppy | Admin</title>
  <link rel="icon" type="image/png" href="/images/icons8-cart-64.png" sizes="16x16 32x32">

    <link rel="stylesheet" href="/stylesheets/admindash.css" />
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
        crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/json2csv/5.0.5/json2csv.umd.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <!-- <i class="bx bxl-c-plus-plus"></i> -->
            <svg style="color: white; margin-left: 20px;" xmlns="http://www.w3.org/2000/svg" width="35" height="35"
                fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                    fill="white"></path>
            </svg>
            <span class="logo_name">GoShoppy</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/admin/dash" class="active">
                    <i class="bx bx-grid-alt"></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/admin/product">
                    <i class="bx bx-box"></i>
                    <span class="links_name">Product</span>
                </a>
            </li>
            <li>
                <a href="/admin/order">
                    <i class="bx bx-list-ul"></i>
                    <span class="links_name">Order list</span>
                </a>
            </li>
            <li>
                <a href="/admin/salesreport">
                    <i class="bx bx-pie-chart-alt-2"></i>
                    <span class="links_name">Sales Report</span>
                </a>
            </li>
            <li>
                <a href="/admin/user">
                    <i class='bx bx-user'></i>
                    <span class="links_name">User </span>
                </a>
            </li>
            <li>
                <a href="/admin/coupon">
                    <i class="bx bx-book-alt"></i>
                    <span class="links_name">Coupons</span>
                </a>
            </li>
            <li>
                <a href="/admin/category">
                    <i class='bx bx-category' style='color:rgb(255, 255, 255)'></i>
                    <span class="links_name">Categories</span>
                </a>
            </li>
           
            <li class="log_out">
                <a href="/admin/logout">
                    <i class="bx bx-log-out"></i>
                    <span class="links_name">Log out</span>
                </a>
            </li>
        </ul>
    </div>
