@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Exo+2&family=Poppins:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbarBG {
  background: #003F62;
  width: 100%;
}

.navbar-brand {
  font-family: 'Exo 2', sans-serif;
  font-size: 40px;
  color: white !important;
  text-decoration: none;

}

.navbar-nav {
  padding-left: 200px;
  gap: 20px;
}

.navbar-nav a {
  font-weight: 400;
  font-size: 1.2em;
  color: white;
}


.navbar-nav a:hover {
  color: #FBBC05;
  transition: 0.5s;
}


.carousel {
  height: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  
  /* width: 80%; */

}

/* If you want to center the carousel vertically within its container */
.carousel-inner {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100%;
}

/* If you want to maintain the aspect ratio of the images */
.carousel-item img {
  object-fit: cover;
  height: 100%;
}

/* categories tiles */
.responsive-div {
  width: 100%;
  /* By default, the div spans 100% of its container */
  background-color: #f5f5f5;
  /* Light background color */
  padding: 20px 100px 20px 100px;
  /* background-image: url(/public/images/2202_w039_n003_110b_p1_110.jpg); */
  box-sizing: border-box;
  /* Include padding and border in the div's total width */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Add this line for box shadow */
}


.category-card {
  background-color: #ffd75f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Add this line for box shadow */
  /* other styles... */
}


/* partials */

.category-list-partials {

  /* background-color: #ffffff; */

  border-right: 3px solid #cbcbcb;

}

.category-list-partials ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2em;
}

.category-list-partials ul li a:hover {
  transition: 0.s;
  color: #FBBC05;
}



/* product list page */

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 50px; /* Set a high value to create an oval shape */
  background-color: #ffd75f;
  padding: 10px;
  height: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  border: 1px solid #f1ca54;
}

.search-input {
  flex: 1; /* Allow the input to take up the remaining space */
}

#search-input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
}

.btn-search {
  background: transparent;
  border: none;
  color: #003F62;
  cursor: pointer;
  
}

.btn-search:hover {

  background-color:#f5c431;
}


.product-title {
  font-weight: bolder;
  color: #000000;
  border-bottom: 1px solid #aaaaaa;
  /* border-radius: 2px; */
}

.card-unique {
  text-align: center;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.5);
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  transition: transform 0.2s, box-shadow 0.2s;
  /* Stack child elements vertically */
  background-color: white;
  border-radius: 5px;
}

.card-unique:hover {
  transform: scale(1.01); /* Zoom in by 5% when hovering */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  border-radius: 10px;
}
.btn-add{
  /* color: #FBBC05; */
  background-color: #FBBC05;
  transition: 0.5s;

  /* background-color: #003F62; */
}
.btn-add:hover{
  box-shadow: 0 0 8px rgba(133, 133, 133, 0.5);
background-color: #003F62;
  /* color: white; */
  color: #ffffff;
}

.card-inner {
  flex: 1;
  /* Allow the inner div to grow and take up all available space vertically */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Push child elements apart, distributing the available space evenly */
}

.card-img-top {
  height: 150px;
  width: auto;
padding-top: 5px;
}

.card-title {
  color: #000000;
  white-space: nowrap;
  /* Prevent text from wrapping */
  overflow: hidden;
  /* Hide any overflowing text */
  text-overflow: ellipsis;
  flex: 0;
  /* Prevent title from growing, keep it to its content height */
}

.card-text-prod {
  color: #000000;
  flex: 0;
  /* Prevent text from growing, keep it to its content height */
}

.page-info {
  display: flex;
  align-items: center; /* Vertically center the content */
}

.prev-next{
  border: 1px solid grey;
  border-radius: 30px;
  width: 85px;
  border: none;
  background-color: #FBBC05;

}

.prev-next:hover{
  background-color: #000000;
  transition: .5s;
  color: white;
}


/* individual page*/
.product-images-individual {
  width: 30px;
}

.add-to-cart{
  background-color: #000000;
  color: white;
  transition: 0.2s;
}

.add-to-cart:hover{
  background-color: #FBBC05;
  color: #000;
}

.imageclass {
  background-color: white;
  width: 260px;
  height: 250px;
  object-fit: contain;
  /* Adjust this property */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 5px rgba(132, 132, 132, 0.5);
  padding: 5px;
}


/* cart  */



.cart-empty {
  width: 300px;
  margin: 0 auto; /* Horizontally center the image */
  /* display: flex;
  justify-content: center; 
  align-items: center;  */
}


.product-info {
  max-width: 180px;
  /* Adjust the value to your preferred maximum width */
  overflow: hidden;
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
  text-overflow: ellipsis;
  /* Display an ellipsis (...) for overflowed text */
}

.remove-item {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 5px;
  background-color: #003F62;
  box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.5);

}

.remove-item:hover {
  background-color: white;
  border: 1px solid black;
}

.placeOrderDiv{
  background-color: #003F62;
  border-radius: 5px;
  color: white;

}
.placeOrderDiv:hover{
  background-color: #FBBC05;
  color: #000000;
  transition: 0.5s;
}

.coupon-display{
  border: 1px solid rgb(221, 211, 211);
  border-radius: 10px;
  background-color: white;
  /* padding-left: 20px; */
  box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.5);
}

/* Wishlist */

.addToCart {
  border-radius: 5px;
  background-color: #FBBC05;
  box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.5);

}

.addToCart:hover {
  background-color: #000000;
  color: white;
}


/* profile partials */
.profile-partials {
  border-right: 3px solid #cbcbcb
}

.list-group-item-action {
  font-size: 1.2rem;
  font-family: 'Exo 2', sans-serif;
}

.list-group-item-action:hover {
  background-color: #FBBC05;
  transition: .5s;
}

/* profile */

.wallet{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 36vh;
  width: 29vw;
border-radius: 20px;
box-shadow: 5px 5px 10px rgba(70, 70, 70, 0.5);
}

.icon-wallet{
  margin-left: 30px;
  margin-top: 20px;
}
.goshoppy-wallet{
  font-family: 'Exo 2', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: -34px;
  margin-left: 69px;
  color: #FBBC05;
}
.wallet-name{
  /* font-family: 'Exo 2', sans-serif; */
  font-family: 'Pixelify Sans', cursive;
  /* font-family: 'Handjet', cursive; */
 
  font-size: 1.8rem;
  /* font-weight: 600; */
  
  margin-top: 90px;
  margin-left: 40px;
  color: #e3e3e3;
}
.wallet-id{
  font-family: 'Pixelify Sans', cursive;
  color: #e3e3e3;
  margin-top: -10px;
  margin-left: 40px;
  font-size: 1.3rem;
}
.wallet-wallet{
  font-family: 'Exo 2', sans-serif;
  font-size: 1.8rem;
  margin-top: 50px;
  color: white;
}
.wallet-amount{
  font-family: 'Exo 2', sans-serif;
  font-size: 1.8rem;

  color: white;
}

.textfromdb {
  font-size: 1.2rem;
  font-family: 'Exo 2', sans-serif;
}

.editprofileLink {
  text-align: center;
  /* position: absolute; */
  font-size: 1.2rem;
  text-decoration: none !important;
  color: #ffffff;
  background-color: #003F62;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.5);
}

.editprofileLink:hover {
  color: #FBBC05;
}

.addressMainDiv{
  /* border:  1px solid grey; */
  border-radius: 5px;
  /* background-color: rgb(255, 255, 255); */
  box-shadow: 1px 1px 5px rgba(133, 133, 133, 0.5);

}

.nowyouseeme{
  border-bottom: 1px solid black;
}

.add-address-button{
  padding: 15px;
}

.address-div{
  border: 1px solid rgb(190, 190, 190);
  border-radius: 5px;
  padding: 10px;
}

.addressEditDelete{
  border: 1px solid grey;
  border-radius: 30px;
  width: 80px;
  background-color: white;

}

.addressEditDelete:hover{
  background-color: #000000;
  transition: .5s;
  color: white;
}

.copy-referral{
  background-color: #f5fbff;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 50px;
  padding: 0 10px 0 10px;
  text-align: center;
  vertical-align: middle;
  height: 38px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.copy-referral span {background-color: #E2F4FF;
  font-size: 20px;
  font-weight:600;
   margin: 10px 0;
  background-color: transparent;
  color: #5779a1; 
}
.copy-button {
border-left: 1px solid rgb(169, 169, 169);
  outline: none; /* Remove the default button outline */
}
/* wallet trans */
.walletTrans{
  padding: 10px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 10px;
  box-shadow: 1px 4px 4px 1px rgb(212, 212, 212);
}
.red-text{
  color: red;
}
.green-text{
  color: green;
}

.wallet-card-div{
  
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 42vh;
    /* width: 2vw; */
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(70, 70, 70, 0.5);
  /* filter: blur(1px); */
}

/* order details page */

.center-container {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  padding: 30px;
}

.order-details{
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(212, 212, 212);

}



/* final place order */

.placeOrder{
  background-color: #003F62;
  color: white;
}

.placeOrder:hover{
  border-radius: 5px;
  background-color: #FBBC05;
  color: #000000;
}

/* ordered products page */

.inside-container{
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.cancel-order{
  border: 1px solid grey;
  border-radius: 30px;
  border: 0px;
  background-color: #FBBC05;
}

.return-order{
  border: 1px solid grey;
  border-radius: 30px;
  border: 0px;
  background-color: #FBBC05;
}

.cancel-order:hover{
  background-color: #000000;
  transition: .5s;
  color: white;
}

/* after checkout page */

.aftercheckout-page-link{
  text-decoration: none;
  color: black;
}

/* error */

.error404{
  height: 70vh;
  /* background-color: #31323d; */
}

.e404{
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #FBBC05;
}
.e0{
  font-family: 'Barlow Semi Condensed', sans-serif;
  
}
/* below is footer */


footer {
  background-color: #E2F4FF;
  color: #0862a7;
  padding: 20px;
}

.footer-logo {
  font-size: 25px;
  font-family: 'Exo 2', sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
  list-style: none;
}
.applogo{
  padding: 5px;
  font-size: 25px;
}

.addressdiv{
  color: #000;
  font-family: 'Exo 2', sans-serif;
  padding-top: 5px;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
}

.footer-column h3 {
  font-size: 18px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  text-decoration: none;
  color: #0862a7;
}

/* Media query for responsive layout */
@media (max-width: 768px) {
  .footer-columns {
    flex-direction: column;
  }

  .footer-column {
    margin-bottom: 20px;
  }
}